*{
    margin: 0px;
    font-family:Arial ;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 50px;
    width: 100%;
}
.border{
    border-color: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white !important;
}

        /* box 2 */

.add-first{
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}
.add-sec{
    color: #ffffff;
    font-size: 14px;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
 }

 /* search box*/
 .nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: aqua;
    justify-content: space-evenly;
 }
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
} 
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f8b358;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111
}

/* flag box */

.flag{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center  ;
}
.ame-flag{
    background-color: aqua;
    height: 16px;
    width: 21px;
    background-image: url(https://cdn.britannica.com/33/4833-050-F6E415FE/Flag-United-States-of-America.jpg);
    background-size: cover;
}

/* third box */