*{
    margin: 0px;
    font-family:Arial ;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 52px;
    width: 116px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 50px;
    width: 100%;
}
.border{
    border-color: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white !important;
}

        /* box 2 */

.add-first{
    color: #cccccc;
    font-size: 12px;
    margin-left: 15px;
}
.add-sec{
    color: #ffffff;
    font-size: 14px;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
 }

 /* search box*/
 .nav-search{
    display: flex;
    width: 920px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: aqua;
    justify-content: space-evenly;
 }
 .nav-search:hover{
    border: 2px solid #f8b358;
 }
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
} 
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f8b358;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111
}

/* flag box */

.flag{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center  ;
}
.ame-flag{
    background-color: aqua;
    height: 16px;
    width: 21px;
    background-image: url(https://cdn.britannica.com/33/4833-050-F6E415FE/Flag-United-States-of-America.jpg);
    background-size: cover;
}

/* third box */

.log-first{
    font-size: 0.7rem;
}
.log-sec{
    font-size: 12px;
    font-weight: 700;
}

/* forth box */

.re-first{
    font-size: 0.7rem;
}
.re-sec{
    font-size: 12px;
    font-weight: 700;
}

/* cart box */
.cart i {
    font-size: 34px;
}
.cart{
    font-size: 15px;
    font-weight: 700 ;
}


/* for panel */
.panel{
    height: 40px;
    background-color: #222f3d;;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    display: flex;
}
.panel-op p{
    display: inline;
    margin: 15px;
}
.panel-op{
    width: 70%;  
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* main body */


.hero_img{
    height: 600px;
    /* width: 1500px; */
    /* width: 100%; */
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 250px;
}
.hero-msg a{
    color: rgb(7, 136, 187);
}